#landing {
  /*background-image: url(../../../assets/images/background.png);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.site-landing-text {
  text-align: center;
}

.site-landing-text .site-caption {
  margin-bottom: 0.25em !important;
}

.site-landing-text .site-footnote {
  margin-bottom: 1em !important;
}

.site-btn-login {
  background: #333;
  border: none !important;
  padding: 0.75em 0;
  height: auto;
}

.site-btn-facebook {
  background: #036;
  border: none !important;
  padding: 0.75em 0;
  height: auto;
}

.site-btn-google {
  background: #f00;
  border: none !important;
  padding: 0.75em 0;
  height: auto;
}

.form-control {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 0.75em;
  height: auto;
  color: #fff;
}

@media only screen and (min-width: 480px) {
  .site-landing-text {
    text-align: left;
  }
}
