#landing {
  background-image: url(../../../assets/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.site-landing-text {
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .site-landing-text {
    text-align: left;
  }
}
