#site-mobile-nav {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 15000;
  height: 20px;
  width: 40px;
}

#site-mobile-nav button {
  background: none;
  border: none;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
  padding: 0;
}

#site-mobile-nav button span {
  background: #fff;
  display: block;
  height: 3px;
  margin-bottom: 5px;
}

#site-mobile-nav button span:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  #site-mobile-nav {
    display: none;
  }
}
