.codesyrup-navigation {
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 1em 0;
  width: 100%;
}

.codesyrup-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.codesyrup-navigation ul li {
  float: left;
  text-align: right;
}

.codesyrup-navigation ul li a {
  display: block;
  text-transform: uppercase;
  margin-left: 4.5em;
}
