* {
  box-sizing: border-box;
}

*[class^="grid"] {
  display: grid;
}

*[class^="grid"] > * {
  padding: 1em;
}

*[class^="grid-sm"],
*[class^="grid-md"],
*[class^="grid-lg"] {
  grid-template-columns: repeat(1, 1fr);
}

.grid-xs-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-xs-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-xs-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-xs-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-xs-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-xs-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-xs-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-xs-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-xs-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-xs-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-xs-11 {
  grid-template-columns: 1fr 1fr;
}

.grid-xs-12 {
  grid-template-columns: 1fr 2fr;
}

.grid-xs-13 {
  grid-template-columns: 1fr 3fr;
}

.grid-xs-14 {
  grid-template-columns: 1fr 4fr;
}

.grid-xs-21 {
  grid-template-columns: 2fr 1fr;
}

.grid-xs-31 {
  grid-template-columns: 3fr 1fr;
}

.grid-xs-41 {
  grid-template-columns: 4fr 1fr;
}

.grid-xs-23 {
  grid-template-columns: 2fr 3fr;
}

.grid-xs-32 {
  grid-template-columns: 3fr 2fr;
}

/* Smaller Devices - Tablets (520px) */
@media only screen and (min-width: 520px) {
  .grid-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-sm-11 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-sm-12 {
    grid-template-columns: 1fr 2fr;
  }

  .grid-sm-13 {
    grid-template-columns: 1fr 3fr;
  }

  .grid-sm-14 {
    grid-template-columns: 1fr 4fr;
  }

  .grid-sm-21 {
    grid-template-columns: 2fr 1fr;
  }

  .grid-sm-31 {
    grid-template-columns: 3fr 1fr;
  }

  .grid-sm-41 {
    grid-template-columns: 4fr 1fr;
  }

  .grid-sm-23 {
    grid-template-columns: 2fr 3fr;
  }

  .grid-sm-32 {
    grid-template-columns: 3fr 2fr;
  }
}

/* Bigger Devices - Laptops & Desktops (1024px) */
@media only screen and (min-width: 1024px) {
  .grid-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-md-11 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-md-12 {
    grid-template-columns: 1fr 2fr;
  }

  .grid-md-13 {
    grid-template-columns: 1fr 3fr;
  }

  .grid-md-14 {
    grid-template-columns: 1fr 4fr;
  }

  .grid-md-21 {
    grid-template-columns: 2fr 1fr;
  }

  .grid-md-31 {
    grid-template-columns: 3fr 1fr;
  }

  .grid-md-41 {
    grid-template-columns: 4fr 1fr;
  }

  .grid-md-23 {
    grid-template-columns: 2fr 3fr;
  }

  .grid-md-32 {
    grid-template-columns: 3fr 2fr;
  }
}

/* Large Devices (1960px) */
@media only screen and (min-width: 1960px) {
  .grid-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-lg-11 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-lg-12 {
    grid-template-columns: 1fr 2fr;
  }

  .grid-lg-13 {
    grid-template-columns: 1fr 3fr;
  }

  .grid-lg-14 {
    grid-template-columns: 1fr 4fr;
  }

  .grid-lg-21 {
    grid-template-columns: 2fr 1fr;
  }

  .grid-lg-31 {
    grid-template-columns: 3fr 1fr;
  }

  .grid-lg-41 {
    grid-template-columns: 4fr 1fr;
  }

  .grid-lg-23 {
    grid-template-columns: 2fr 3fr;
  }

  .grid-lg-32 {
    grid-template-columns: 3fr 2fr;
  }
}
