html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #182724;
  font-family: "Circular Pro", "SF Pro Display", Roboto, Arial;
  font-weight: 400;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #fff;
}

/* SECTION */

.section-xs {
  padding: 1.5em 0;
}

.section-md {
  padding: 3em 0;
}

.section-md {
  padding: 3.5em 0;
}

.section-lg {
  padding: 6em 0;
}

.section-xlg {
  padding: 10em 0;
}

/* FULLSCREEN */

.site-fs {
  display: table;
  width: 100%;
  height: 100%;
}

.site-fs-child {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* WRAPPER */

.site-wrapper {
  padding: 0 3em;
}

/* CAPTIONS & EXCERPT */

.site-caption {
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

.site-excerpt {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* BUTTONS */

.site-button {
  font-size: 20px;
  padding: 20px 40px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  background: #eb0e0e;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  box-shadow: none;
}

.site-button:hover {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 520px) {
  .site-caption {
    font-size: 45px;
  }

  .site-excerpt {
    font-size: 30px;
  }

  .site-wrapper {
    padding: 0 1em;
  }
}
