.navbar {
  padding: 2.5em 3em;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
  color: #fff !important;
  margin-left: 2.25em;
  text-transform: uppercase;
  padding: 0 15px !important;
  display: block;
}

.navbar-toggler {
  display: none !important;
}
