.site-fixed-nav-home {
  z-index: 1000;
}

.site-fixed-nav-home ul {
  float: right;
}

.site-fixed-nav-course {
  z-index: 1000;
  margin-top: 70px;
}

.site-fixed-nav-course ul {
  float: right;
}

.site-fixed-nav-course ul li a {
  text-transform: capitalize !important;
}
