ul.site-course-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.site-course-nav li {
  float: left;
}

ul.site-course-nav li a {
  display: block;
  text-transform: uppercase;
  margin-left: 4.5em;
  text-decoration: none;
  color: #fff;
}
